@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@font-face{
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: normal;

}

h1{
    font-family: Staatliches;
    color: black;
    font-weight: 200;
    letter-spacing: 4px;
}